[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
telethon = "*"

[packages]
python-telegram-bot = {version = "==22.7", extras = ["ext", "http2"]}
pony = "==0.7.19"

[requires]
python_version = "3.11"
